@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

header,
nav,
footer,
a {
    display: block;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

body {
}

@font-face {
    font-family: "iconfont";
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), url('../font/iconfont.woff') format('woff'), url('../font/iconfont.ttf') format('truetype'), url('../font/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou:before {
    content: "\e600";
}

.cls:after {
    display: table;
    content: "";
    clear: both;
    visibility: hidden;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.wrap {
    padding: 0 0 10px;
    background-color: #fcfcfc;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 50px;
    background-color: #519be5;
    box-shadow: 0 0px 10px #000;
    z-index: 5;
}

.header-box {
    width: 1200px;
    margin: 0 auto;
}

.nav {
    line-height: 50px;
    text-align: center;
    font-size: 20px;
}

.nav-a {
    float: left;
    width: 100px;
    color: #fff;
}

.nav-a:hover {
    background-color: #3F71B3;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5);
}

.power {}

.power-box {}

.power-box > li {
    display: table;
    width: 100%;
    height: 500px;
    text-align: center;
}

.power-box > li:nth-child(odd) {
    color: #fff;
    background-color: #000;
}

.power-box > li:nth-child(even) {
    color: #000;
}

.power-box > li.power-type-0 {
    background-color: #ba296b;
}

.power-box > li.power-type-1 {
    background-color: #00954f;
}

.power-box > li.power-type-2 {
    background-color: #e72520;
}

.power-box > li.power-type-3 {
    background-color: #fbc400;
}

.power-box > li.power-type-4 {
    background-color: #db4f2e;
}

.power-box > li.power-type-5 {
    background-color: #e7c7a7;
}

.power-box > li.power-type-6 {
    background-color: #877610;
}

.power-box > li.power-type-7 {
    background-color: #c07679;
}

.power-box > li.power-type-8 {
    background-color: #671f54;
}

.power-box > li:nth-child(odd) dt {
    text-shadow: 0 1px 2px #fff, 0 -1px 2px #fff, 1px 0 2px #fff, -1px 0 2px #fff;
}

.power-box > li:nth-child(even) dt {
    text-shadow: 0 1px 2px #000, 0 -1px 2px #000, 1px 0 2px #000, -1px 0 2px #000;
}

.power-box > li > dl {
    vertical-align: middle;
    display: table-cell;
}

.power-box > li > dl dt {
    font-size: 60px;
    line-height: 120px;
}

.power-box > li > dl dd {
    font-size: 28px;
    line-height: 40px;
}

.footer {
    width: 100%;
    background-color: #eee;
    text-align: center;
    font-size: 16px;
    color: #939393;
}

.footer-box {
    width: 1200px;
    margin: 0 auto;
}

.site-self {
    padding-top: 20px;
    line-height: 30px;
}

.friendly-site {
    line-height: 30px;
}

.copyright {
    padding-bottom: 24px;
    line-height: 30px;
}

.site-self > a,
.friendly-site > a {
    display: inline-block;
    color: #939393;
}

.site-self > a:hover,
.friendly-site > a:hover {
    display: inline-block;
    color: #333;
}


/* 网站历程 */

.history {
    width: 1200px;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 0 0 2px #252525;
}

.history > h2 {
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-bottom: 1px solid #eee;
    text-indent: 20px;
}

.history > ul {
    padding-left: 60px;
}

.history > ul > li {
    list-style: circle;
    margin: 10px 0;
    line-height: 24px;
}

.history a {
    display: inline-block;
    color: red;
}

.history > img {
    width: 100%;
}


/* 网站历程 */


/* 博客 */

.grid {
    width: 254px;
    min-height: 100px;
    padding: 15px;
    background: #fff;
    margin: 8px;
    font-size: 12px;
    float: left;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -webkit-transition: top 1s ease, left 1s ease;
    -moz-transition: top 1s ease, left 1s ease;
    -o-transition: top 1s ease, left 1s ease;
    -ms-transition: top 1s ease, left 1s ease;
}

.grid:hover {
    -moz-box-shadow: 0 0px 5px rgba(87, 74, 249, 0.67);
    -webkit-box-shadow: 0 0px 5px rgba(87, 74, 249, 0.67);
    box-shadow: 0 0px 5px rgba(87, 74, 249, 0.67);
}

.grid-title {
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
    display: block;
    padding: 0 0 5px;
    font-size: 17px;
}

.grid-intro {
    color: #585858;
    font-size: 13px;
    line-height: 20px;
}

.grid-meta {
    text-align: right;
    color: #777;
    font-style: italic;
}

.grid-img img {
    width: 100%;
    background: #ccc;
    display: block;
}


/* 博客 */


/* 随笔内容 */

.note-wrap {
    position: relative;
    margin: 0 auto;
    width: 900px;
}

.note-entry {
    width: 890px;
    padding: 10px 10px 0 0;
}

.note-entry h1 {
    font-size: 2em;
}

.note-entry h2 {
    font-size: 1.5em;
}

.note-entry h3 {
    font-size: 1.3em;
}

.note-entry h4 {
    font-size: 1.2em;
}

.note-entry h5 {
    font-size: 1em;
}

.note-entry h6 {
    font-size: 1em;
    color: #aaa;
}

.note-entry hr {
    border: 1px dashed #ddd;
}

.note-entry strong {
    font-weight: bold;
}

.note-entry em,
.note-entry cite {
    font-style: italic;
}

.note-entry sup,
.note-entry sub {
    font-size: 0.75em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.note-entry sup {
    top: -0.5em;
}

.note-entry sub {
    bottom: -0.2em;
}

.note-entry small {
    font-size: 0.85em;
}

.note-entry acronym,
.note-entry abbr {
    border-bottom: 1px dotted;
}

.note-entry ul,
.note-entry ol,
.note-entry dl {
    line-height: 1.6em;
}

.note-entry ul ul,
.note-entry ol ul,
.note-entry ul ol,
.note-entry ol ol {
    margin-top: 0;
    margin-bottom: 0;
}

.note-entry ul {
    list-style: disc;
    list-style-position: inside;
}

.note-entry ol {
    list-style: decimal;
    list-style-position: inside;
}

.note-entry dt {
    font-weight: bold;
    list-style-position: inside;
}

.note-entry {
    color: #555;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6em;
}

.note-entry:before,
.note-entry:after {
    content: "";
    display: table;
}

.note-entry:after {
    clear: both;
}

.note-entry p,
.note-entry table {
    margin: 1.6em 0;
}

.note-entry h1,
.note-entry h2,
.note-entry h3,
.note-entry h4,
.note-entry h5,
.note-entry h6 {
    font-weight: 600;
}

.note-entry h1,
.note-entry h2,
.note-entry h3,
.note-entry h4,
.note-entry h5,
.note-entry h6 {
    line-height: 1.3em;
    margin: 1.3em 0;
}

.note-entry a {
    color: #3b8dbd;
    text-decoration: none;
}

.note-entry a:hover {
    text-decoration: underline;
}

.note-entry a.fancybox {
    display: block !important;
}

.note-entry ul,
.note-entry ol,
.note-entry dl {
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}

.note-entry img,
.note-entry video {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.note-entry iframe {
    border: none;
}

.note-entry table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.note-entry th {
    font-weight: 600;
    border-bottom: 3px solid #ddd;
    padding-bottom: 0.5em;
}

.note-entry td {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.note-entry blockquote {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 1.4em;
    margin: 1.6em 20px;
    text-align: center;
}

.note-entry blockquote footer {
    font-size: 14px;
    margin: 1.6em 0;
    font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", sans-serif;
}

.note-entry blockquote footer cite:before {
    content: "—";
    padding: 0 0.5em;
}

.note-entry .pullquote {
    text-align: left;
    width: 45%;
    margin: 0;
}

.note-entry .pullquote.left {
    margin-left: 0.5em;
    margin-right: 1em;
}

.note-entry .pullquote.right {
    margin-right: 0.5em;
    margin-left: 1em;
}

.note-entry .caption {
    color: #aaa;
    display: block;
    font-size: 0.9em;
    margin-top: 0.5em;
    position: relative;
    text-align: center;
}

.note-entry .video-container {
    position: relative;
    padding-top: 56.25%;
    height: 0;
    overflow: hidden;
}

.note-entry .video-container iframe,
.note-entry .video-container object,
.note-entry .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 0;
}

.note-entry pre,
.note-entry .highlight {
    background: #2d2d2d;
    margin: 0px;
    padding: 15px 20px;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px 0;
    overflow: auto;
    color: #ccc;
    line-height: 22.400000000000002px;
}

.note-entry .highlight .gutter pre,
.note-entry .gist .gist-file .gist-data .line-numbers {
    color: #666;
    font-size: 0.85em;
}

.note-entry pre,
.note-entry code {
    font-size: 14px;
    font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}

.note-entry code {
    background: #eaeaea;
    text-shadow: 0 1px #fff;
    padding: 0 0.3em;
}

.note-entry pre code {
    background: none;
    text-shadow: none;
    padding: 0;
}

.note-entry .highlight pre {
    border: none;
    margin: 0;
    padding: 0;
}

.note-entry .highlight table {
    margin: 0;
    width: auto;
}

.note-entry .highlight td {
    border: none;
    padding: 0;
}

.note-entry .highlight figcaption {
    font-size: 0.85em;
    color: #999;
    line-height: 1em;
    margin-bottom: 1em;
}

.note-entry .highlight figcaption:before,
.note-entry .highlight figcaption:after {
    content: "";
    display: table;
}

.note-entry .highlight figcaption:after {
    clear: both;
}

.note-entry .highlight figcaption a {
    float: right;
}

.note-entry .highlight .gutter pre {
    text-align: right;
    padding-right: 20px;
}

.note-entry .highlight .line {
    height: 22.400000000000002px;
}

.note-entry .gist {
    margin: 0 -20px;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px 0;
    background: #2d2d2d;
    padding: 15px 20px 15px 0;
}

.note-entry .gist .gist-file {
    border: none;
    font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
    margin: 0;
}

.note-entry .gist .gist-file .gist-data {
    background: none;
    border: none;
}

.note-entry .gist .gist-file .gist-data .line-numbers {
    background: none;
    border: none;
    padding: 0 20px 0 0;
}

.note-entry .gist .gist-file .gist-data .line-data {
    padding: 0 !important;
}

.note-entry .gist .gist-file .highlight {
    margin: 0;
    padding: 0;
    border: none;
}

.note-entry .gist .gist-file .gist-meta {
    background: #2d2d2d;
    color: #999;
    font: 0.85em "Titillium Web", "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", sans-serif;
    text-shadow: 0 0;
    padding: 0;
    margin-top: 1em;
    margin-left: 20px;
}

.note-entry .gist .gist-file .gist-meta a {
    color: #3b8dbd;
    font-weight: normal;
}

.note-entry .gist .gist-file .gist-meta a:hover {
    text-decoration: underline;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  .note-entry .img-wrap:before {
    background: url("images/preloader@2x.gif") center center no-repeat, rgba(0,0,0,0.9);
    -webkit-background-size: 24px 24px;
    -moz-background-size: 24px 24px;
    background-size: 24px 24px;
  }
}

/* 随笔内容 */

/* 随笔标题和时间 */
.note-wrap > h2 {
    font-size: 38px;
    color: #555;
    line-height: 86px;
    height: 70px;
}
.note-wrap > time {
    font-size: 14px;
    text-transform: uppercase;
    color: #666;
    line-height: 1em;
    text-shadow: 0 1px #fff;
    padding-left: 3px;
}

/* 边栏-标签 */

.aside-tag {
    width: 214px;
    margin: 18px 8px 8px;
    padding: 15px 25px;
    /*background-color: #fff;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);*/
}

.aside-tag-title {
    margin: 10px 0;
    font-size: 15px;
    color: #666;
}

.aside-tag-list {}

.aside-tag-list .item {
    position: relative;
    padding: 10px 0;
    height: 18px;
    font-size: 15px;
    border-bottom: 1px solid #e4e4e4;
    color: #777;
    cursor: pointer;
}
.aside-tag-list .item i,
.aside-tag-list .item span {
    color: #ccc;
}

.aside-tag-list .item strong {
    line-height: 14px;
    padding-left: 2px;
}

.aside-tag-list .item:after {
    position: absolute;
}

.aside-tag-list .item:hover,
.aside-tag-list .item:hover i {
    color: #444;
}


/* 边栏-标签 */



/* 新列表 */
.every-year {
}
.every-year > li {

}
.every-year > li > h3 {
    display: block;
    line-height: 48px;
    border-bottom: 1px solid #ddd;
    color: #666;
    padding-left: 34px;
}
.every-item {

}
.every-item:after {
    display: table;
    content: "";
    clear: both;
    visibility: hidden;
}
.every-item > li {
    float: left;
    width: 50%;
    height: 230px;
    border-bottom: 1px solid #ddd;
}
.every-item > li section {
    padding: 30px 0 0 30px;
}
.every-item > li section time {
    color: #bbb;
    text-align: 5px;
    font-size: 14px;
}
.every-item > li section .title {
    color: #444;
    font-size: 22px;
    height: 48px;
    line-height: 48px;
    overflow: hidden;
}
.every-item > li section .title:hover {
    color: #519be5;
}
.every-item > li section .tag,
.subnav > .tag {
    display: inline;
    font-size: 16px;
    font-weight: 700;
    color: #519be5;
}
.every-item > li section .content {
    line-height: 26px;
    color: #aaa;
    text-indent: 2px;
}

/* 子导航 */
.subnav {
    padding: 10px 0 0 0px;
    font-weight: 700;
    color: #333;
    line-height: 50px;
    border-bottom: 1px solid #eee;
}
.subnav > .tag {
    font-size: 30px;
}
.subnav .iconfont {
    position: relative;
    top: -2px;
    padding-right: 5px;
}
/* 子导航 */







/* media query */
@media only screen and (min-height: 700px) {
    body {
        margin-top: 50px;
    }
    .header {
        position: fixed;
        top: 0;
    }
}