@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

header,
nav,
footer,
a {
    text-decoration: none;
}

body {
    font: 12px, "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
}

ul li {}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    font-weight: 100;
}

@font-face {
    font-family: "iconfont";
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), url('../font/iconfont.woff') format('woff'), url('../font/iconfont.ttf') format('truetype'), url('../font/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou:before {
    content: "\e600";
}

.cls:after {
    display: table;
    content: "";
    clear: both;
    visibility: hidden;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.wrap {
    padding: 0 0 10px;
    background-color: #fcfcfc;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 50px;
    background-color: #519be5;
    box-shadow: 0 0px 10px #000;
    z-index: 5;
}

.header-box {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    line-height: 50px;
    text-align: center;
    font-size: 20px;
}

.nav-a {
    float: left;
    width: 100px;
    color: #fff;
}

.nav-a:hover {
    background-color: #3F71B3;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5);
}

.power {}

.power-box {}

.power-box > li {
    display: table;
    width: 100%;
    height: 500px;
    text-align: center;
}

.power-box > li:nth-child(odd) {
    color: #fff;
    background-color: #000;
}

.power-box > li:nth-child(even) {
    color: #000;
}

.power-box > li:nth-child(9n+1) {
    background-color: #ba296b;
}

.power-box > li:nth-child(9n+2) {
    background-color: #00954f;
}

.power-box > li:nth-child(9n+3) {
    background-color: #e72520;
}

.power-box > li:nth-child(9n+4) {
    background-color: #fbc400;
}

.power-box > li:nth-child(9n+5) {
    background-color: #db4f2e;
}

.power-box > li:nth-child(9n+6) {
    background-color: #e7c7a7;
}

.power-box > li:nth-child(9n+7) {
    background-color: #877610;
}

.power-box > li:nth-child(9n+8) {
    background-color: #c07679;
}

.power-box > li:nth-child(9n+9) {
    background-color: #671f54;
}

.power-box > li:nth-child(odd) dt {
    text-shadow: 0 1px 2px #fff, 0 -1px 2px #fff, 1px 0 2px #fff, -1px 0 2px #fff;
}

.power-box > li:nth-child(even) dt {
    text-shadow: 0 1px 2px #000, 0 -1px 2px #000, 1px 0 2px #000, -1px 0 2px #000;
}

.power-box > li > dl {
    vertical-align: middle;
    display: table-cell;
}

.power-box > li > dl dt {
    font-size: 60px;
    line-height: 120px;
}

.power-box > li > dl dd {
    font-size: 28px;
    line-height: 40px;
}

.footer {
    width: 100%;
    background-color: #eee;
    text-align: center;
    font-size: 16px;
    color: #939393;
}

.footer-box {
    width: 1200px;
    margin: 0 auto;
}

.site-self {
    padding-top: 20px;
    line-height: 30px;
}

.friendly-site {
    line-height: 30px;
}

.copyright {
    padding-bottom: 24px;
    line-height: 30px;
}

.site-self > a,
.friendly-site > a {
    display: inline-block;
    color: #939393;
}

.site-self > a:hover,
.friendly-site > a:hover {
    display: inline-block;
    color: #333;
}


/* 网站历程 */
.wrap-history {
    padding: 20px 0;
    background-color: #fcfcfc;
}
.history {
    width: 1200px;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0 0 2px #252525;
    background-color: #fff;
}

.history > h2 {
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-bottom: 1px solid #eee;
    text-indent: 20px;
}

.history > ul {
    padding-left: 60px;
}

.history p {
    line-height: 28px;
}

.history > section {
    padding: 20px 40px;
}

.history > ul > li {
    list-style: circle;
    margin: 10px 0;
    line-height: 24px;
}

.history a {
    display: inline-block;
    color: red;
}

.history > img {
    width: 100%;
}


/* 网站历程 */


/* 博客 */

.grid {
    width: 254px;
    min-height: 100px;
    padding: 15px;
    background: #fff;
    margin: 8px;
    font-size: 12px;
    float: left;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -webkit-transition: top 1s ease, left 1s ease;
    -moz-transition: top 1s ease, left 1s ease;
    -o-transition: top 1s ease, left 1s ease;
    -ms-transition: top 1s ease, left 1s ease;
}

.grid:hover {
    -moz-box-shadow: 0 0px 5px rgba(87, 74, 249, 0.67);
    -webkit-box-shadow: 0 0px 5px rgba(87, 74, 249, 0.67);
    box-shadow: 0 0px 5px rgba(87, 74, 249, 0.67);
}

.grid-title {
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
    display: block;
    padding: 0 0 5px;
    font-size: 17px;
}

.grid-intro {
    color: #585858;
    font-size: 13px;
    line-height: 20px;
}

.grid-meta {
    text-align: right;
    color: #777;
    font-style: italic;
}

.grid-img img {
    width: 100%;
    background: #ccc;
    display: block;
}


/* 博客 */


/* 随笔内容 */

.note-wrap {
    position: relative;
    margin: 0 auto;
    width: 900px;
}

.note-entry {
    font-family: Helvetica, arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    padding-top: 10px;
    padding-bottom: 10px;
}

.note-entry > *:first-child {
    margin-top: 0 !important;
}

.note-entry > *:last-child {
    margin-bottom: 0 !important;
}

.note-entry a {
    color: #4183C4;
}

.note-entry a.absent {
    color: #cc0000;
}

.note-entry a.anchor {
    display: block;
    padding-left: 30px;
    margin-left: -30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.note-entry h1,
.note-entry h2,
.note-entry h3,
.note-entry h4,
.note-entry h5,
.note-entry h6 {
    margin: 20px 0 10px;
    padding: 0;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    cursor: text;
    position: relative;
}

.note-entry h1:hover a.anchor,
.note-entry h2:hover a.anchor,
.note-entry h3:hover a.anchor,
.note-entry h4:hover a.anchor,
.note-entry h5:hover a.anchor,
.note-entry h6:hover a.anchor {
    text-decoration: none;
}

.note-entry h1 tt,
.note-entry h1 code {
    font-size: inherit;
}

.note-entry h2 tt,
.note-entry h2 code {
    font-size: inherit;
}

.note-entry h3 tt,
.note-entry h3 code {
    font-size: inherit;
}

.note-entry h4 tt,
.note-entry h4 code {
    font-size: inherit;
}

.note-entry h5 tt,
.note-entry h5 code {
    font-size: inherit;
}

.note-entry h6 tt,
.note-entry h6 code {
    font-size: inherit;
}

.note-entry h1 {
    font-size: 28px;
    color: black;
}

.note-entry h2 {
    font-size: 24px;
    border-bottom: 1px solid #cccccc;
    color: black;
}

.note-entry h3 {
    font-size: 18px;
}

.note-entry h4 {
    font-size: 16px;
}

.note-entry h5 {
    font-size: 14px;
}

.note-entry h6 {
    color: #777777;
    font-size: 14px;
}

.note-entry p,
.note-entry blockquote,
.note-entry ul,
.note-entry ol,
.note-entry dl,
.note-entry li,
.note-entry table,
.note-entry pre {
    margin: 15px 0;
}

.note-entry hr {
    border: 0 none;
    color: #cccccc;
    height: 4px;
    padding: 0;
}

.note-entry > h2:first-child {
    margin-top: 0;
    padding-top: 0;
}

.note-entry > h1:first-child {
    margin-top: 0;
    padding-top: 0;
}

.note-entry > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0;
}

.note-entry > h3:first-child,
.note-entry > h4:first-child,
.note-entry > h5:first-child,
.note-entry > h6:first-child {
    margin-top: 0;
    padding-top: 0;
}

.note-entry a:first-child h1,
.note-entry a:first-child h2,
.note-entry a:first-child h3,
.note-entry a:first-child h4,
.note-entry a:first-child h5,
.note-entry a:first-child h6 {
    margin-top: 0;
    padding-top: 0;
}

.note-entry h1 p,
.note-entry h2 p,
.note-entry h3 p,
.note-entry h4 p,
.note-entry h5 p,
.note-entry h6 p {
    margin-top: 0;
}

.note-entry li p.first {
    display: inline-block;
}

.note-entry li {
    margin: 0;
}

.note-entry ul,
.note-entry ol {
    padding-left: 30px;
}

.note-entry ul:first-child,
.note-entry ol:first-child {
    margin-top: 0;
}

.note-entry dl {
    padding: 0;
}

.note-entry dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px;
}

.note-entry dl dt:first-child {
    padding: 0;
}

.note-entry dl dt >:first-child {
    margin-top: 0;
}

.note-entry dl dt >:last-child {
    margin-bottom: 0;
}

.note-entry dl dd {
    margin: 0 0 15px;
    padding: 0 15px;
}

.note-entry dl dd >:first-child {
    margin-top: 0;
}

.note-entry dl dd >:last-child {
    margin-bottom: 0;
}

.note-entry blockquote {
    border-left: 4px solid #dddddd;
    padding: 0 15px;
    color: #777777;
}

.note-entry blockquote >:first-child {
    margin-top: 0;
}

.note-entry blockquote >:last-child {
    margin-bottom: 0;
}

.note-entry table {
    padding: 0;
    border-collapse: collapse;
}

.note-entry table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0;
}

.note-entry table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

.note-entry table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    margin: 0;
    padding: 6px 13px;
}

.note-entry table tr td {
    border: 1px solid #cccccc;
    margin: 0;
    padding: 6px 13px;
}

.note-entry table tr th:first-child,
.note-entry table tr td:first-child {
    margin-top: 0;
}

.note-entry table tr th:last-child,
.note-entry table tr td:last-child {
    margin-bottom: 0;
}

.note-entry img {
    max-width: 100%;
}

.note-entry span.frame {
    display: block;
    overflow: hidden;
}

.note-entry span.frame > span {
    border: 1px solid #dddddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto;
}

.note-entry span.frame span img {
    display: block;
    float: left;
}

.note-entry span.frame span span {
    clear: both;
    color: #333333;
    display: block;
    padding: 5px 0 0;
}

.note-entry span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
}

.note-entry span.align-center > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center;
}

.note-entry span.align-center span img {
    margin: 0 auto;
    text-align: center;
}

.note-entry span.align-right {
    display: block;
    overflow: hidden;
    clear: both;
}

.note-entry span.align-right > span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right;
}

.note-entry span.align-right span img {
    margin: 0;
    text-align: right;
}

.note-entry span.float-left {
    display: block;
    margin-right: 13px;
    overflow: hidden;
    float: left;
}

.note-entry span.float-left span {
    margin: 13px 0 0;
}

.note-entry span.float-right {
    display: block;
    margin-left: 13px;
    overflow: hidden;
    float: right;
}

.note-entry span.float-right > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right;
}

.note-entry code,
.note-entry tt {
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 3px;
}

.note-entry pre code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent;
}

.note-entry .highlight pre {
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}

.note-entry pre {
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}

.note-entry pre code,
.note-entry pre tt {
    background-color: transparent;
    border: none;
}

.note-entry sup {
    font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
}

.note-entry * {
    -webkit-print-color-adjust: exact;
}

@media screen and (min-width: 914px) {
    .note-entry {
        width: 854px;
        margin: 0 auto;
    }
}

@media print {
    .note-entry table,
    .note-entry pre {
        page-break-inside: avoid;
    }
    .note-entry pre {
        word-wrap: break-word;
    }
}


/* 随笔内容 */


/* 随笔标题和时间 */

.note-wrap > h2 {
    font-size: 38px;
    color: #555;
    line-height: 86px;
    height: 70px;
}

.note-wrap > time {
    font-size: 14px;
    text-transform: uppercase;
    color: #666;
    line-height: 1em;
    text-shadow: 0 1px #fff;
    padding-left: 3px;
}


/* 边栏-标签 */

.aside-tag {
    width: 214px;
    margin: 18px 8px 8px;
    padding: 15px 25px;
    /*background-color: #fff;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);*/
}

.aside-tag-title {
    margin: 10px 0;
    font-size: 15px;
    color: #666;
}

.aside-tag-list {}

.aside-tag-list .item {
    display: block;
    position: relative;
    padding: 10px 0;
    height: 18px;
    font-size: 15px;
    border-bottom: 1px solid #e4e4e4;
    color: #777;
    cursor: pointer;
}

.aside-tag-list .item i,
.aside-tag-list .item span {
    color: #ccc;
}

.aside-tag-list .item strong {
    line-height: 14px;
    padding-left: 2px;
}

.aside-tag-list .item:after {
    position: absolute;
}

.aside-tag-list .item:hover,
.aside-tag-list .item:hover i {
    color: #444;
}


/* 边栏-标签 */


/* 新列表 */

.note-tag {
    border-bottom: 1px solid #ddd;
}

.every-year {}

.every-year > li {}

.every-year > li > h3 {
    display: block;
    line-height: 48px;
    border-bottom: 1px solid #ddd;
    color: #666;
    padding-left: 34px;
}

.every-item {}

.every-year li,
.every-item li {
    list-style: none;
}

.every-item:after {
    display: table;
    content: "";
    clear: both;
    visibility: hidden;
}

.every-item > li {
    float: left;
    width: 50%;
    height: 230px;
    border-bottom: 1px solid #ddd;
}

.every-item > li section {
    padding: 30px 0 0 30px;
}

.every-item > li section time {
    color: #bbb;
    text-align: 5px;
    font-size: 14px;
}

.every-item > li section .title {
    display: block;
    color: #444;
    font-size: 22px;
    height: 48px;
    line-height: 48px;
    overflow: hidden;
}

.every-item > li section .title:hover {
    color: #519be5;
}

.every-item > li section .tag,
.every-item > li section .content {
    line-height: 26px;
    color: #aaa;
    text-indent: 2px;
}

.every-item > li section .tag {
    display: inline-block;
    font-size: 20px;
    padding-right: 5px;
    font-weight: 100;
    color: #519be5;
}


/* 子导航 */

.subnav {
    padding: 10px 0 0 0px;
    font-weight: 100;
    color: #333;
    line-height: 50px;
    border-bottom: 1px solid #eee;
}

.subnav > .tag {
    display: inline;
    font-size: 30px;
    font-weight: 100;
    color: #519be5;
}

.subnav .iconfont {
    position: relative;
    top: -2px;
    padding-right: 5px;
}

.subnav-year {
    padding: 10px 0 0 0px;
    font-weight: 100;
    color: #333;
    line-height: 50px;
    border-bottom: 1px solid #eee;
}

.subnav-year > .tag {
    display: inline;
    font-size: 22px;
    font-weight: 100;
    color: #519be5;
}

.subnav-year .iconfont {
    position: relative;
    top: -2px;
    padding-right: 5px;
}


/* 子导航 */


/* media query */

@media only screen and (min-height: 700px) {
    body {
        margin-top: 50px;
    }
    .header {
        position: fixed;
        top: 0;
    }
}

@media only screen and (min-width: 1024px) {
    .header-box,
    .container,
    .footer-box {
        width: 980px;
    }
    .note-wrap {
        width: 700px;
    }
    .aside-tag {}
}

/* 移动端 */
@media only screen and (max-width: 320px){
    .nav-a {
        width: 100%;
    }
}
