<div class="footer">
  Copyright © <%=theme.since%><% if (theme.since < new Date().getFullYear()) { %>
    <%= ' - ' + new Date().getFullYear()%>
  <% } %> <%=config.author%> | 
  Powered by <a href="https://hexo.io/" target="_blank">Hexo</a> | Theme by <a href="https://github.com/unclay/hexo-theme-eleven">Eleven</a>.
</div>
