html{height:100%;}
body{font:14px/1.5 '微软雅黑';word-wrap:break-word;word-break:break-all;-webkit-text-size-adjust:none;background:#fff;color:#333;}
body,dl,dd,h1,h2,h3,h4,h5,h6,p,form,ul,ol,blockquote{margin:0}
img{border:0 none;vertical-align:middle}
input,select,textarea{font-size:14px;color:#333}
input{vertical-align:middle;padding:2px;margin:0}
table{border-collapse:collapse;border-spacing:0}
select,input,button{font:14px/20px Verdana,Simsun,Helvetica,Arial,sans-serif;}
em,i,cite,blockquote{font-style:normal}
ul,ol{list-style:none outside;padding:0}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
table { border-collapse: collapse; border-spacing: 0; }
textarea{overflow-y:auto;padding:3px}
a{color:#428bca;text-decoration:none;outline:0}
a:hover,a:active{color:#2a6496;text-decoration:none;}
a:focus{outline:0;}
button::-moz-focus-inner{border:0;padding:0;}
figure{margin:0}
table tbody tr th {font-weight: normal;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
textarea, select, input, .uneditable-input { background-color: #ffffff; border: 1px solid #cccccc; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); -webkit-transition: border linear 0.2s,box-shadow linear 0.2s; -moz-transition: border linear 0.2s,box-shadow linear 0.2s; -o-transition: border linear 0.2s,box-shadow linear 0.2s; transition: border linear 0.2s,box-shadow linear 0.2s; }
.b { font-weight: 700; }
.btn { display: inline-block; padding: .27em 1em; border: 0 none; border: 1px solid rgba(0,0,0,.25); border-radius: 0.3em; background: #006dcc; background-image: none; box-shadow: 0 1px rgba(0,0,0,.15), inset 0 1px rgba(255,255,255,.15); color: #fff; text-align: center; text-decoration: none; text-shadow: 1px 1px rgba(0,0,0,.1); font-size: 100%; font-family: inherit; font-weight: inherit; white-space: nowrap; -webkit-user-select: none; -moz-user-select: none; user-select: none; overflow: visible; cursor: pointer; }
.btn:hover, .btn:focus { text-decoration: none; background-image: linear-gradient(to bottom, rgba(0,0,0,.1), rgba(0,0,0,.1)); color: #fff; }
.btn:focus { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
.btn:active { box-shadow: 0 1px rgba(0,0,0,.2), inset 0 1px rgba(0,0,0,.05); outline: none; }
.btn-hover:hover { opacity: 0.9; color: #fff; text-decoration: none; filter: alpha(opacity=80); }
.cls:after { content: ""; clear: both; display: table; visibility: hidden; }
.cls { zoom: 1;	}
.col333 { color: #333; }
.col666 { color: #666; }
.col999 { color: #999; }
.colfff { color: #fff; }
.common-text { height: 24px; line-height: 24px; padding: 2px 4px; border: 1px solid #ccc; background: #fff; border-radius: 5px; }
body .dpb { display: block; }
body .dpn { display: none; }
body .dpib { display: inline-block; }
.fl { float: left; }
.fr { float: right; }
.ffyahei { font-family: Microsoft YaHei; }
.ffsimsun { font-family: Simsun; }
.fs12 { font-size: 12px; }
.fs14 { font-size: 14px; }
.fs16 { font-size: 16px; }
.fs18 { font-size: 18px; }
.fs20 { font-size: 20px; }
.fs24 { font-size: 24px; }
.fs26 { font-size: 26px; }
.fs28 { font-size: 28px; }
.fs30 { font-size: 30px; }
input[type="checkbox"] { margin: 0 1px 0 10px; }
.pdleft12 { padding-left: 12px; }
.textc { text-align: center; }
.hidd { display: none; }
.white,.white a:link,.white a:visited{color:#fff;}
.white a:hover{color:#ff0;}

@font-face {font-family: "iconclary";
  src: url('../font/iconclary.eot'); /* IE9*/
  src: url('../font/iconclary.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconclary.woff') format('woff'), /* chrome、firefox */
  url('../font/iconclary.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../font/iconclary.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconclary {
  font-family:"iconclary" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 5px;
}

.header { height: 50px; line-height: 50px; background: #1A1A1A; }
.header-box { padding: 0 20px; }
.header-box li > a.on { color: #fff; text-shadow: 1px 1px 1px #003; background: #033b70; }
.header-box li > a:hover { background: #343434; }
.header-function { float: left; }
.header-function > li { float: left; }
.header-function > li > a { float: left; margin-right: 5px; padding: 0 25px; text-shadow: 1px 1px 1px #000; }
.header-user { float: right; }
.header-user > li { float: left; }
.header-user > li > a { float: left; margin-left: 5px; padding: 0 20px; display: inline; zoom: 1; }

.section { height: 100%; }
.aside { float: left; width: 199px; /*min-height: 700px;*/ background: #f2f2f2; }
.aside-wire { float: left; width: 0px; height: 1px; /* min-height: 700px;*/ border-right: 1px solid #ccc; cursor: e-resize; }
.aside-title { height: 40px; line-height: 40px; font-size: 24px; text-indent: 1em; }
.aside-common { border: 1px solid #e5e5e5; border-width: 1px 0; }
.aside-common > .title { padding: 0 16px 0 20px; display: block; height: 38px; line-height: 38px; color: #333; }
.aside-common > ul { background: #fff; }
.aside-common > ul > li { height: 38px; line-height: 38px; border: 1px solid #e5e5e5; border-width: 1px 0 0 0; text-indent: 2.5em; }
.wrap { margin-left: 199px; min-height: 100%; }
.wrap-header { height: 40px; line-height: 39px; border-bottom: 1px solid #e5e5e5; background: #f5f5f5; }
.wrap-header .nav-step { margin: 0 5px; color: #b2c2e0; font-family: serif; }
.wrap-info-list { padding: 10px 20px; border-bottom: 1px solid #e5e5e5; }
.wrap-info-list .title { line-height: 35px; padding-bottom: 5px; overflow: hidden; }
.wrap-info-list .content {  }
.wrap-info-list .content > li { line-height: 35px; border-bottom: 1px dashed #eaeaea; }
.wrap-info-list .content > li > label { display: inline-block; width: 150px; padding-right: 10px; text-align: right; color: #909090; }
.wrap-info-list .content > li > span { font-size: 15px; }
.wrap-search { padding: 15px 0; border-bottom: 1px solid #e5e5e5; }
.form-box { height: 30px; padding: 5px 0px; }
.search-title { float: left; width: 120px; height: 30px; line-height: 30px; text-align: right; padding-right: 10px; }
.search-title2 { width: 90px; }
.search-sort { height: 26px; line-height: 26px; margin: 2px 0; border-radius: 0px; }
.search-submit { margin-left: 5px; }
.wrap-main { padding: 10px 20px; border-bottom: 1px solid #e5e5e5; }
.function-btn { height: 24px; }
.function-btn > a { display: block; float: left; padding: 0 0 0 10px; }
.list-from { /*min-height: 400px;*/ }
.list-box { border-top: 1px solid #ddd; border-left: 1px solid #ddd; }
.list-box tr > * { border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; }
.list-box tr td > input[type="text"] { width: 97%; height: 100%; border: 0; padding: 0 0 0 2px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0); background: transparent; }
.list-box tr.active { background: #ddd; }
.sort-input { width: 30px; }
.list-page { padding: 20px 0; text-align: center; }
.input-hidden { display: none; }

/* insert */
.insert-form { padding: 10px 20px; border-bottom: 1px solid #e5e5e5; }
.insert-box { border-top: 1px solid #ddd; border-left: 1px solid #ddd; }
.insert-box tr {}
.insert-box tr > th, .insert-box tr > td { border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; }
.insert-box tr > th { text-align: right; padding-right: 18px; }
.insert-box tr > td img { display: block; max-width: 300px; }
/* category */
.wrap-category { padding: 10px 20px; }
.main-left { float: left; width: 400px; padding-right: 5px; border-right: 1px solid #eee; }
.main-right { margin-left: 406px; border-bottom: 1px solid #e5e5e5; }
.main-left h3 { font-size: 20px; }
.catagory-common { padding: 10px 0 0 10px; }
.catagory-common span { display: block; padding-left: 10px; line-height: 30px; }
.catagory-common input[type="text"] { width: 250px; border: 1px solid #ddd; }
.catagory-common p { color: #aaa; line-height: 24px; font-size: 12px; }
.catagory-common select { width: 80px; }

